<h1 style="color: #ff0000">Employee Management</h1>
<!-- Decription -->
<p>Employee management makes it easy to check and track human resources department at the press of a button.
  It makes the system easy to monitor and manage employees from different location.
  This system helps in supervising employees work report and productivity.
  Our employee management system includes a time tracking system that saves both time and money.
  These all features help at the time of employee appraisals.</p>

<!-- Image -->
<span style="margin-left: 132px;"><%= image_tag 'oa_em.gif' %></span>
<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="templatemo-tabs">
  <li class="active"><a href="#benefits" role="tab" data-toggle="tab">Benefits</a></li>
  <li><a href="#features" role="tab" data-toggle="tab">Features</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="benefits">
    <ul class="list-group">
      <li class="list-group-item">User friendly system</li>
      <li class="list-group-item">Records employee information</li>
      <li class="list-group-item">Records the current number of employees according to division / department with the automatic
        updating of figures when people are employed or leave.</li>
      <li class="list-group-item">Keeps records of inactive employees (those not in the company any longer)</li>
      <li class="list-group-item">Search facility for easy finding of staff</li>
      <li class="list-group-item">Security rights define the access people have to the information</li>
      <li class="list-group-item">Go <span style="color: green">Green</span></li>
    </ul>
  </div>

  <div class="tab-pane fade" id="features">
    <ul class="list-group">
      <li class="list-group-item">Manage employees personal details, family details, Company details</li>
      <li class="list-group-item">Add manage employee designations</li>
      <li class="list-group-item">Add view employee task status</li>
      <li class="list-group-item">Add or check employee work report daily / monthly</li>
      <li class="list-group-item">Track employee related to projects / clients</li>
      <li class="list-group-item">View, approve / decline employee leave request</li>
      <li class="list-group-item">Give employee administrative permissions</li>
      <li class="list-group-item">Monitor employee log details</li>
      <li class="list-group-item">Search employee with name, designation or place of work</li>
    </ul>
  </div>
</div>